.counties {
  fill: none;
  stroke: #333;
}

.states {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  position: relative;
}

div, label {
  margin-bottom: 1em;
  width: 57%;
}

div#tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  width: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

h1 {
  font-family: sans-serif;
  font-size: 1.25em;
  position: relative;
  left: 7%;
}

h2 {
  font-family: sans-serif;
  font-size: .95em;
}

.axis text, div, label, g {
  font-family: sans-serif;
  font-size: .9em;
}

h2, div, label, select {
  position: relative;
  left: 10%;
}

.barChart {
  float: left;
  margin-right: 1em;
}

#barChartExplanation {
  clear: both;
}

.clearSelection {
  margin-left: 400px;
}
